<!DOCTYPE html>
<html lang="en">
<head>
  <title>Little Cherries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="style.css"> 
  
  </head>

  
<body>


<!-- Head Content. Logo - Company Name -->
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img src= "logo.png"  width="200" height="100" >
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>


<!-- Navigation Menu --> 

<nav class="navbar navbar-reversed roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li class="active"><a href="#">Αρχική</a></li>
		<li><a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/EventPage.html">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn">H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/OurCompanyPage.html">Ποιοί Είμαστε</a>
				<a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/OurCompanyPage.html">Το Οραμά μας</a>
			</div>
		</li>
      <li><a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/CommunicationPage.html">Επικοινωνία</a></li>
    </ul>		
  </div>
</nav>

<div  class="container" align="center"> 
	<div class="row info">
	<div class="col-sm-2 info" style="color:grey; font-size:25px">
		<h3 align="left"> Όνομα: 	</h3>
		<h3 align="left"> Επώνυμο:</h3>
		<h3 align="left"> Διεύθυνση:	</h3>
		<h3 align="left"> Τ.Κ.:		</h3>
		<h3 align="left"> Τηλέφωνο:	</h3>
		<h3 align="left"> E-mail:	</h3>
	</div>
	<h1 th:text="#{label.form.title}">form</h1>
	<form action="/" th:object="${user}" method="POST" enctype="utf8">	
		<div class="col-sm-4 info" style="color:grey; font-size:25px" >
			<div>
				<label th:text="#{label.user.firstName}">First Name</label>
				<input class="text2" name="firstName" required>
				<p th:each="error: ${#fields.errors('firstName')}"
          		th:text="${error}">Validation error</p>
			</div>	
			<div>
				<label th:text="#{label.user.lastName}">Last Name</label>
				<input class="text2" name="lastName" required>
				<p th:each="error: ${#fields.errors('lastName')}"
          		th:text="${error}">Validation error</p>
			</div>
			<div> 
				<label th:text="#{label.user.town}">Town</label>
				<input class="text2" name="town" required>
				<p th:each="error: ${#fields.errors('town')}"
          		th:text="${error}">Validation error</p>
			</div>
			<div>
				<label th:text="#{label.user.streetname}">Street Name</label>
				<input class="text2" name="streetname" required>
				<p th:each="error: ${#fields.errors('streetname')}"
          		th:text="${error}">Validation error</p>
			</div>
			<div>
				<label th:text="#{label.user.streetnumber}">Street Number</label>
				<input class="text2" name="streetnumber" required>
				<p th:each="error: ${#fields.errors('streetnumber')}"
          		th:text="${error}">Validation error</p>
			</div>
			<div>
			<label th:text="#{label.user.postalcode}">Postal Code</label>
				<input class="text2" name="postalcode" required>
				<p th:each="error: ${#fields.errors('postalcode')}"
          		th:text="${error}">Validation error</p>
			</div>
			<div>
			<label th:text="#{label.user.phonenumber}">Phone Number</label>
				<input class="text2" name="phonenumber" required>
				<p th:each="error: ${#fields.errors('phonenumber')}"
          		th:text="${error}">Validation error</p>
			</div>
			
			<div>
			<label th:text="#{label.user.postalcode}">Postal Code</label>
				<input class="text2" name="postalcode" required>
				<p th:each="error: ${#fields.errors('postalcode')}"
          		th:text="${error}">Validation error</p>
			</div>
			<div>
			<label th:text="#{label.user.email}">Email</label>
				<input class="text2" name="email" required>
				<p th:each="error: ${#fields.errors('email')}"
          		th:text="${error}">Validation error</p>
			</div>
			
		</div>

	<div class="col-sm-2 info" style="color:grey; font-size:25px">
		<h3 align="left"> Όνομα Υπευθύνου:	</h3>
		<h3 align="left"> Επίθετο Υπευθύνου:	</h3>
		<h3 align="left"> ΑΦΜ: 	</h3>
		<h3 align="left"> Τραπεζικός Λογαριασμός:</h3>
		<h3 align="left"> Username:	</h3>
		<h3 align="left"> Password:		</h3>
		<form action="">
			<input type="radio"> Δημιουργία e-wallet<br>
		</form>
	</div>
	<div class="col-sm-4 info" style="color:grey; font-size:25px" >
		<div>
			<label th:text="#{label.user.afm}">Irs</label>
				<input class="text2" name="afm" required>
				<p th:each="error: ${#fields.errors('afm')}"
          		th:text="${error}">Validation error</p>
			</div>
			<div>
			<label th:text="#{label.user.bankacount}">Bank Account</label>
				<input class="text2" name="bankacount" required>
				<p th:each="error: ${#fields.errors('bankacount')}"
          		th:text="${error}">Validation error</p>
			</div>
			<div>
			<label th:text="#{label.user.username}">username</label>
				<input class="text2" name="username" required>
				<p th:each="error: ${#fields.errors('username')}"
          		th:text="${error}">Validation error</p>
			</div>
			<div>
			<label th:text="#{label.user.password}">password</label>
				<input class="text2" name="password" required>
				<p th:each="error: ${#fields.errors('password')}"
          		th:text="${error}">Validation error</p>
			</div>
			<a th:href="@{/register-paroxou.html}" th:text="#{label.form.loginLink}">Register</a>
		
	</div>
</div>
</div>	
</body>
</html>