<!DOCTYPE html>
<html lang="en">
<head>
  <title>Little Cherries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="style.css"> 

<style>


table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
    padding: 5px;
	}
</style>
  
  </head>

  
<body>


<!-- Head Content. Logo - Company Name -->
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img src= "logo.png"  width="200" height="100" >
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>

<!-- Navigation Menu --> 

<nav class="navbar navbar-reversed roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li class="dropdown roz"><a href="#">Αρχική</a></li>
		<li><a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/EventPage.html">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn">H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/OurCompanyPage.html">Ποιοί Είμαστε</a>
				<a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/OurCompanyPage.html">Το Οραμά μας</a>
			</div>
		</li>
      <li><a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/CommunicationPage.html">Επικοινωνία</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right roz">
		<li><a href="#file:///.\SignUp.html"><span class="glyphicon glyphicon-user"></span> *username*</a></li>
	</ul>		
  </div>
</nav>


<div  class="container" align="center"> 
	<div class="row info">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">	
		<table style="width:100%">
			<tr class="tr1">
				<th>Ημερομηνία</th>
				<th>Ώρα έναρξης</th> 
				<th>Τιμή</th>
				<th>Αριθμός Εισιτηρίων</th>
				<th>Σύνολο</th>
			</tr>
			<tr>
			<th ><form action="/action_page.php">
				<input type="date" name="createdAt" required>
				</form></th>
				<td>*Ώρα έναρξης*</td>
				<td>*Τιμή*</td>
				<td><select>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					</select></td> 
				<td>*Σύνολο*</td>
			</tr>
		</table>
	</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-7"></div>
		<div class="col-sm-3">
			<p><button class="button2 text" style="font-size:25px; position:relative; bottom:-250px; width:70%">Κράτηση</button></p>	
		</div>
	</div>
</div>
	
</body>
</html>
