<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Communication Page</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'></link>
  <link rel="stylesheet" th:href="@{/css/style.css}"> </link>
  
  </head>

  
<body>


<!-- roz Content. Logo - Company Name -->
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img th:src= "@{/images/logo.png}"  width="200" height="100" ></img>
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>


<!-- Navigation Menu --> 

<nav class="navbar navbar-reversed  roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li><a th:href="@{/littlecherries}">Αρχική</a></li>
		<li><a th:href="@{/littlecherries/events}">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn" >H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a th:href="@{/littlecherries/aboutus}">Ποιοί Είμαστε</a>
				<a th:href="@{/littlecherries/aboutus}">Το Οραμά μας</a>
			</div>
		</li>
      <li  class="active"><a th:href="@{/littlecherries/contactus}">Επικοινωνία</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right roz">
   <div th:if="${user==null}">
         <li><a th:href="@{/littlecherries/register}"><span class="glyphicon glyphicon-user"></span> Συνδεθείτε</a></li>
   </div>
    <div th:unless="${user==null}">
      <li><a th:utext="${user.username}" th:href="@{/littlecherries/organizers/showprofile}" class="glyphicon glyphicon-user"></a></li>
      <li><a th:href="@{/littlecherries/organizers/logout}"><span class="glyphicon glyphicon-user"></span> Αποσύνδεση</a></li>
      
   </div>
    </ul>		
  </div>
</nav>

<!-- Content of Each Page --> 

<div class="container info" align="center"> 
<h2 align="center"> Επικοινωνία </h2> 

<div class="container-fluid info" >
<h4 align ="center"> 
Για οποιαδήποτε απορία μη διστάσετε να επικοινωνήσετε μαζί μας.
<h4 align ="center"> 
 <span class="glyphicon glyphicon-phone-alt"> Τηλέφωνο: 2109656891</span>
 <span class="glyphicon glyphicon-envelope"> Email: contact@littlecherries.com </span>  
</h4> 
</h4> 

<h3 align ="center">
Μπορείτε να μας βρείτε και στα γραφεία μας.
</h3>
<h4 align ="center"> 
 <span class="glyphicon glyphicon-map-marker"> Μενελάου 5, Άγιος Δημήτριος 17343</span>
</h4> 

</div>

<div class="container info" align ="center"> 

	<div class="info">
		<div id = "map" class ="info" style="width:400px;height:400px;background-color:#ffffff;border-radius: 10px;"> </div>
	</div> 

<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(37.965748, 23.708142), zoom: 10
  };
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
</script>

<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaUbDLWOas_hXAs3BopNMxLJhgqW56dZU&amp;callback=myMap"></script> 

</div>
</div>
  
 


<!-- FootNote -->


<div class="container-fluid info"  align="center"> 
 <footer>&copy; Copyright 2017 Little Cherries</footer>
</div> 

</body>





</html>
