<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Little Cherries Company</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'></link>
  <link rel="stylesheet" th:href="@{/css/style.css}"> </link>
  

  
  
</head>

  
<body>


<!-- Head Content. Logo - Company Name -->

<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img th:src= "@{/images/logo.png}"  width="200" height="100" ></img>
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>


<!-- Navigation Menu --> 

<!-- Navigation Menu --> 

<nav class="navbar navbar-reversed  roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li><a th:href="@{/littlecherries}">Αρχική</a></li>
		<li><a th:href="@{/littlecherries/events}">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn active"  color ="#bb8fce">H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a th:href="@{/littlecherries/aboutus}">Ποιοί Είμαστε</a>
				<a th:href="@{/littlecherries/aboutus}">Το Οραμά μας</a>
			</div>
		</li>
      <li><a th:href="@{/littlecherries/contactus}">Επικοινωνία</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right roz">
 	<div th:if="${user==null}">
         <li><a th:href="@{/littlecherries/register}"><span class="glyphicon glyphicon-user"></span> Συνδεθείτε</a></li>
   </div>
    <div th:unless="${user==null}">
      <li><a th:utext="${user.username}" th:href="@{/littlecherries/organizers/showprofile}" class="glyphicon glyphicon-user"></a></li>
      <li><a th:href="@{/littlecherries/organizers/logout}"><span class="glyphicon glyphicon-user"></span> Αποσύνδεση</a></li>
      
   </div>
    </ul>		
  </div>
</nav>



<!-- Content of Each Page --> 

<div  class="container info" align="center"> 
<h2 align="center"> Ποιοί Είμαστε </h2> 
<div class="row info">
			<div  class="col-sm-1 info">
			</div> 
			<div class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3 align="center"> Δανάη Ξεζωνάκη </h3> 
				<img th:src= "@{/images/danae.jpg}"  width="100" height="100" ></img>
				<h6> 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				</h6>
			</div>
			<div class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3 align="center"> Kοσμάς Στεφανόπουλος </h3>
				<img th:src= "@{/images/smas.jpg}"  width="100" height="100" ></img>
				<h6> 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				</h6> 
			</div>			
			<div  class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3 align="center"> Φωτεινή Στρατή</h3>
				<img th:src= "@{/images/fwtw.jpg}"  width="100" height="100" ></img>
				<h6> 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				</h6> 
			</div>
			<div  class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3 align="center"> Βασιλική Τασσοπούλου</h3>
				<img th:src= "@{/images/vas.jpg}"  width="100" height="100" ></img>
				<h6> 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				</h6>
			</div>
			<div  class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3>  Ειρήνηη Τελάλη  </h3>
				<img th:src= "@{/images/irene.jpg}"  width="100" height="100" ></img>
				<h6> 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				</h6> 
			</div>
			<div class="col-sm-1 info">
			</div> 
	
	</div>
</div>

<div class="container info" align="center"> 
<h2  align="center"> Το Όραμά μας</h2> 
	<div  class = "container-fluid info"> 
	
	<h4 >
	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
	Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. 
	Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
	</h4>

	</div>
</div> 
		
<!-- FootNote -->


<div class="container-fluid info"  align="center"> 
 <footer>&copy; Copyright 2017 Little Cherries</footer>
</div> 

</body>





</html>
