<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Little Cherries Company</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'></link>
  <link rel="stylesheet" th:href="@{/css/style.css}"> </link>
  

  
  
</head>

  
<body>


<!-- Head Content. Logo - Company Name -->

<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img th:src= "@{/images/logo.png}"  width="200" height="100" ></img>
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>


<!-- Navigation Menu --> 

<!-- Navigation Menu --> 

<nav class="navbar navbar-reversed  roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li><a th:href="@{/littlecherries}">Αρχική</a></li>
		<li><a th:href="@{/littlecherries/events}">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn active"  color ="#bb8fce">H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a th:href="@{/littlecherries/aboutus}">Ποιοί Είμαστε</a>
				<a th:href="@{/littlecherries/aboutus}">Το Οραμά μας</a>
			</div>
		</li>
      <li><a th:href="@{/littlecherries/contactus}">Επικοινωνία</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right roz">
 	 <div th:unless="${org==null}">
      		<li><a th:utext="${org.username}" th:href="@{/littlecherries/organizers/showprofile}" class="glyphicon glyphicon-user"></a></li>
      		<li><a th:href="@{/littlecherries/organizers/logout}"><span class="glyphicon glyphicon-user"></span> Αποσύνδεση</a></li>
    </div>
     <div th:unless="${adm==null}">
      		<li><a th:utext="${adm.username}" th:href="@{/littlecherries/administrators/showprofile}" class="glyphicon glyphicon-user"></a></li>
      		<li><a th:href="@{/littlecherries/administrators/logout}"><span class="glyphicon glyphicon-user"></span> Αποσύνδεση</a></li>
     </div>
     <div th:if="${org==null}">
     	<div th:if="${par==null}">
     	<div th:if="${adm==null}">
         <li><a th:href="@{/littlecherries/register}"><span class="glyphicon glyphicon-user"></span> Συνδεθείτε</a></li>
       </div> 
     </div>
     </div>
    
    </ul>		
  </div>
</nav>



<!-- Content of Each Page --> 

<div  class="container info" align="center"> 
<h2 align="center"> Ποιοί Είμαστε </h2> 
<div class="row info">
			<div  class="col-sm-1 info">
			</div> 
			<div class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3 align="center"> Δανάη Ξεζωνάκη </h3> 
				<img th:src= "@{/images/danae.jpg}"  width="100" height="100" ></img>
				<h6> 				
				"Σπούδασα Ηλεκτρολόγος Μηχανικός αλλά με κέρδισε ο προγραμματισμός, 
				ειδικά στον χώρο του web. Μέσω της πλατφόρμας Little Cherries μου
				δόθηκε η ευκαιρία να δημιουργώ, να πειραματίζομαι, να ψάχνω για 
				νέες τεχνικές και τεχνολογίες, αλλά πάνω απ’ όλα να εξελίσσομαι 
				μαζί με την ομάδα."
				</h6>
			</div>
			<div class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3 align="center"> Kοσμάς Στεφανόπουλος </h3>
				<img th:src= "@{/images/smas.jpg}"  width="100" height="100" ></img>
				<h6> 
					"Οι σπουδές μου στον τομέα της πληροφορικής και ειδικά η αγάπη 
					μου	για τον προγραμματισμό, συντέλεσαν στο να αποτελέσω ιδρυτικό 
					μέλος της πλατφόρμας Little Cherries. Αποδίδω μεγάλη σημασία στην 
					άμεση επικοινωνία και τη γρήγορη εξυπηρέτηση και ως προγραμματιστής 
					αλλά και ως άνθρωπος. Επειδή δεν είμαι και τόσο nerd, ακούω πολύ 
					μουσική, μαγειρεύω και όσο μπορώ ταξιδεύω."
				</h6> 
			</div>			
			<div  class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3 align="center"> Φωτεινή Στρατή</h3>
				<img th:src= "@{/images/fwtw.jpg}"  width="100" height="100" ></img>
				<h6> 
					"Μετά από χρόνια ενασχόληση στο χώρο της πληροφορικής, βρήκα τον 
					τομέα που με ενθουσιάζει περισσότερο. Συνδυάζοντας το πάθος μου 
					για ανάπτυξη ιστοσελίδων, με την τέλεια ομάδα που έχουμε σχηματίσει,
					είμαι πλέον πεπεισμένη ότι μπορούμε να φέρουμε εις πέρας ακόμα 
					και το δυσκολότερο project!  
				</h6> 
			</div>
			<div  class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3 align="center"> Βασιλική Τασσοπούλου</h3>
				<img th:src= "@{/images/vas.jpg}"  width="100" height="100" ></img>
				<h6> 
					"Έκανα το χόμπι μου επάγγελμα σπουδάζοντας Μηχανικός Υπολογιστών 
					στο Εθνικό Μετσόβιο Πολυτεχνείο. Η ανάπτυξη ιστοσελίδων, συνδυάζοντας
					την αίσθηση της δημιουργίας κάτι νέου, παράλληλα με τη συνεχή
					εκμάθηση νέων τεχνικών σου δίνει την απαιτούμενη ικανονοποίηση 
					που πρέπει να έχει μια δουλειά για να σου κρατήσει το ενδιαφέρον 
					αναλλοίωτο."
				</h6>
			</div>
			<div  class="col-sm-2 info" style="color:grey;font-size:46px;">
				<h3>  Ειρήνηη Τελάλη  </h3>
				<img th:src= "@{/images/irene.jpg}"  width="100" height="100" ></img>
				<h6> 
					"Λατρεύω τον προγραμματισμό, τη δημιουργία και τα ταξίδια. 
					Μέσω της πλατφόρμας Little Cherries μπορώ να συνδυάζω τα 
					πρώτα δύο, λαμβάνοντας από τη δουλειά μου τόσο ψυχική όσο 
					και ηθική ικανοποίηση για τη βοήθεια που προσφέρω στους πιο
					σημαντικούς ανθρώπους: τα παιδιά. Στον ελεύθερό μου χρόνο 
					θα με βρείτε σε κάποια αίθουσα αναμονής αεροδρομίου."
				</h6> 
			</div>
			<div class="col-sm-1 info">
			</div> 
	
	</div>
</div>

<div class="container info" align="center"> 
<h2  align="center"> Το Όραμά μας</h2> 
	<div  class = "container-fluid info"> 
	
	<h5 >
	Η πλατφόρμα Little Cherries δημιουργήθηκε από νέους ανθρώπους, με στόχο την παροχή δημιουργικών και ολοκληρωμένων υπηρεσιών στον τομέα της παιδικής ενασχόλησης και ψυχαγωγίας.	Φροντίσαμε, λοιπόν, η τεχνική μας επάρκεια και η επαγγελματική μας προσήλωση, να συνδυαστούν με μια δημιουργική προσέγγιση της επαγγελματικής μας καθημερινότητας, ώστε να προσφέρουμε αυτό ακριβώς που όλοι οι γονείς χρειάζονται: Μια Σύγχρονη, Λειτουργική και Όμορφη Πλατφόρμα παροχής υπηρεσιών, που θα κάνει πιο εύκολη και διασκεδαστική τη ζωή μικρών και μεγάλων.

	</h5>

	</div>
</div> 
		
<!-- FootNote -->


<div class="container-fluid info"  align="center"> 
 <footer>&copy; Copyright 2017 Little Cherries</footer>
</div> 

</body>





</html>
