<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Parent Profile</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'></link>
  <link rel="stylesheet" th:href="@{/css/style.css}"> </link>
    
</head>
    
   <body>
   
   <!-- Head Content. Logo - Company Name -->
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img th:src= "@{/images/logo.png}"  width="200" height="100" ></img>
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>


<!-- Navigation Menu --> 
<nav class="navbar navbar-reversed  roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li><a th:href="@{/littlecherries}">Αρχική</a></li>
		<li><a th:href="@{/littlecherries/events}">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn" >H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a th:href="@{/littlecherries/aboutus}">Ποιοί Είμαστε</a>
				<a th:href="@{/littlecherries/aboutus}">Το Οραμά μας</a>
			</div>
		</li>
      <li><a th:href="@{/littlecherries/contactus}">Επικοινωνία</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right roz">
      <li><a th:utext="${user.username}" th:href="@{/littlecherries/parents/showprofile}" class="glyphicon glyphicon-user"></a></li>
      <li><a th:href="@{/littlecherries/parents/logout}"><span class="glyphicon glyphicon-user"></span> Αποσύνδεση</a></li>
    </ul>		
  </div>
</nav>
   
    
      <!-- Include _menu.html -->
       
       
   <div  class="container" align="center"> 
	<div class="row info">
		<div class="col-sm-4 info" style="color:grey;font-size:30px;">
			<ul>
			<a th:href="@{/littlecherries/parents/showinfo}" class="btntext">Προσωπικά Στοιχεία</a>
			</ul>
			<ul>
		    <a th:href="@{/littlecherries/parents/events_gone}" class="btntext">Ιστορικό Αγορών</a>
		    </ul>
			<ul>
		    <a th:href="@{/littlecherries/parents/events_saved}" class="btntext">Το Καλάθι μου</a>
		    </ul>
			<ul>
		    <a th:href="@{/littlecherries/parents/events_togo}" class="btntext">Τα Εισιτήρια μου</a>
		    </ul>		
		</div>
		
		<div class="col-sm-4 info" style="color:grey;font-size:46px;">
			<div th:unless="${user.hasfoto==0}">
			<img th:src="@{'/' + images + '/' + parentimages + '/' + ${user.username} + .png}" width="140" height="140" />
			
			</div>
		
    		<div th:if="${user.hasfoto==0}">
    	
				<a th:href="@{/littlecherries/parents/pictureUpload}">
					<img style="img2" th:src="@{/images/Insert-picture-here.jpg}"  alt="event-picture" height="300px" width="300px">
				</a>
			</div>
		</div>
		
		<div class="col-sm-4 info" style="color:grey; font-size:30px;">
			<ul>
			<a th:href="@{/littlecherries/parents/editprofile}" class="btntext">Επεξεργασία Προφίλ</a>
			</ul>
			<ul>
			<a th:href="@{/littlecherries/parents/changepassword}" class="btntext">Αλλαγή Password</a>
			</ul>
			<ul>
			<a th:href="@{/littlecherries/parents/loadcredits}" class="btntext">Φόρτωση Πόντων</a>
			</ul>
			<ul>
			
			<form th:action="@{/littlecherries/parents/deleteprofile}" style="font-size:20px; color:black;">
  					<input type="submit" value="Διαγραφή Προφίλ"
    				onclick="return confirm('Θελετε να διαγράψετε οριστικά το προφίλ σας?')"
    		/></form>
    		</ul>
		</div>
	</div>
</div>
      
      <!-- FootNote -->


	<div class="container-fluid"  align="center" id="footer"> 
 		<footer>&copy; Copyright 2017 Little Cherries</footer>
	</div> 
      
       
   </body>
</html>