<!DOCTYPE html>
<html lang="en">
<head>
  <title>Little Cherries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="style.css"> 
  
  </head>

  
<body>


<!-- Head Content. Logo - Company Name -->
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img src= "logo.png"  width="200" height="100" >
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>


<!-- Navigation Menu --> 

<nav class="navbar navbar-reversed roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li class="active"><a href="#">Αρχική</a></li>
		<li><a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/EventPage.html">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn">H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/OurCompanyPage.html">Ποιοί Είμαστε</a>
				<a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/OurCompanyPage.html">Το Οραμά μας</a>
			</div>
		</li>
      <li><a href="#file:///C:/Users/%CE%94%CE%B1%CE%BD%CE%AC%CE%B7/Desktop/StaticPages/StaticPages/CommunicationPage.html">Επικοινωνία</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right roz">
      <li><a href="#file:///.\SignUp.html"><span class="glyphicon glyphicon-user"></span> *username*</a></li>
    </ul>		
  </div>
</nav>






<div  class="container" align="center"> 
	<div class="row info">
		<div class="sidenav" style="color:grey;font-size:46px;">
			<a href="#">Προσωπικά Στοιχεία</a>
			<a href="#">Ιστορικό Events</a>
			<a href="#">Πόντοι</a>
		</div>
		<div class="col-sm-8 info" style="color:grey;font-size:46px;">
		</div>
		<div class="col-sm-4 info" style="color:grey;">
			<img style="img2" src="Insert-picture-here.jpg" alt="Insert photo here" height="300px" width="300px"> 
			<p><a href="#" style="font-size:20px;">Upload Photo</a></p>
			<p><a href="#" style="font-size:20px;">Remove Photo</a></p>
			<button class="button2 text" style="font-size:25px;">Δημιουργία Event</button>
			<button class="button2 text" style="font-size:25px;">Επεξεργασία Προφίλ</button>
		</div>
	</div>
</div>

</body>
</html>