<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Sign in</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'></link>
  <link rel="stylesheet" th:href="@{/css/style.css}"></link>
  
  
  </head>

  
<body>


<!-- Head Content. Logo - Company Name -->
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img th:src= "@{/images/logo.png}"  width="200" height="100" ></img>
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>

<!-- Navigation Menu --> 
<nav class="navbar navbar-reversed  roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li><a th:href="@{/littlecherries}">Αρχική</a></li>
		<li><a th:href="@{/littlecherries/events}">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn" >H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a th:href="@{/littlecherries/aboutus}">Ποιοί Είμαστε</a>
				<a th:href="@{/littlecherries/aboutus}">Το Οραμά μας</a>
			</div>
		</li>
      <li><a th:href="@{/littlecherries/contactus}">Επικοινωνία</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right roz">
      <li><a th:href="@{/littlecherries/register}"><span class="glyphicon glyphicon-user"></span> Συνδεθείτε</a></li>
    </ul>		
  </div>
</nav>


<div  class="container-fluid" align="center"> 
	<div class="row info">
	  <div class="col-sm-2"></div>
		<div class="col-sm-2 info" >
			<h3 align="center"><b> Sign Up </b></h3>
			<h3 align ="center"> 
				Εγγραφείτε ως:
			</h3>
			<button th:href="@{/littlecherries/parents/register}" type="button" class="btn btn-primary">Γονέας</button>
			<button th:href="@{/littlecherries/organizers/register}" type="button" class="btn btn-primary">Πάροχος</button>
		</div>
		<div class="col-sm-2 info" >
		<h3 align="center"><b> Login </b></h3>
			<h3 align ="center"> 
				Συνδεθείτε:
			</h3>
		<button th:href="@{/littlecherries/login}" type="button" class="btn btn-primary">Login</button>
		</div>
	  <div class="col-sm-4">
	  	<h3 align="center"><b> Admin Login </b></h3>
			<h3 align ="center"> 
				Είσοδος Διαχειριστή:
			</h3>
	  <button th:href="@{/littlecherries/login/admin}" type="button" class="btn btn-primary">Admin Login</button>
	  </div>
		
	</div>			
  </div> 

<div align="center"> 
 <footer>&copy; Copyright 2017 Little Cherries</footer>
</div> 

</body>
</html>
