<!DOCTYPE html>
<html lang="en">
<head>
  <title>Little Cherries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="style.css"> 
  
  </head>

  
<body>


<!-- Head Content. Logo - Company Name -->
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img src= "logo.png"  width="200" height="100" >
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>

<!-- Navigation Menu --> 
<nav class="navbar navbar-reversed  roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li><a href="mainpage.html">Αρχική</a></li>
		<li><a href="EventPage.html">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn" >H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a href="OurCompanyPage.html">Ποιοί Είμαστε</a>
				<a href="OurCompanyPage.html">Το Οραμά μας</a>
			</div>
		</li>
      <li  class="active"><a href="CommunicationPage.html">Επικοινωνία</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right roz">
      <li><a href="registration.html"><span class="glyphicon glyphicon-user"></span> Συνδεθείτε</a></li>
    </ul>		
  </div>
</nav>


<div  class="container" align="center"> 
	<div class="row info">
		<div class="col-sm-6 info" style="color:grey;font-size:46px;">
			<h3 align="center"><b> Sign In </b></h3>
			
			<h3> Όνομα Χρήστη:</h3>
			<input class="text" placeholder="Εισάγετε Όνομα Χρήστη" name="uname" required>

			<h3>Κωδικός Πρόσβασης:</h3>
			<input class="text" placeholder="Εισάγετε Κωδικό Πρόσβασης" name="psw" required>

			<button class="button1 text" >Login</button>
		</div>
		<div class="vl"></div>
		<div class="col-sm-6 info" style="color:grey;font-size:46px;">
			<h3 align="center"><b> Sign Up </b></h3>
			<h3 align ="center"> 
				Εγγραφείτε ως:
			</h3>
			<button><a href="mainpage.html" class="button2 text">Γονέας</a></button>
			<button><a href="register-paroxou.html" class="button2 text">Πάροχος</a></button>
		</div>
	</div>			
</div>

<div align="center"> 
 <footer>&copy; Copyright 2017 Little Cherries</footer>
</div> 

</body>
</html>
