<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Parent Profile</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'></link>
  <link rel="stylesheet" th:href="@{/css/style.css}"> </link>
    
</head>
    
   <body>
   
   <!-- Head Content. Logo - Company Name -->
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img th:src= "@{/images/logo.png}"  width="200" height="100" ></img>
	
			</div>
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-3">
				
			</div>
		</div> 
</div>


<!-- Navigation Menu --> 
<nav class="navbar navbar-reversed  roz">
  <div class="container-fluid roz">
  
    <ul class="nav navbar-nav roz">
		<li><a th:href="@{/littlecherries}">Αρχική</a></li>
		<li><a th:href="@{/littlecherries/events}">Εκδηλώσεις</a></li>
		<li class="dropdown roz">
			<a href="javascript:void(0)" class="dropbtn" >H Εταιρία μας</a>
			<div class="dropdown-content roz">
				<a th:href="@{/littlecherries/aboutus}">Ποιοί Είμαστε</a>
				<a th:href="@{/littlecherries/aboutus}">Το Οραμά μας</a>
			</div>
		</li>
      <li><a th:href="@{/littlecherries/contactus}">Επικοινωνία</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right roz">
      <li><a th:utext="${user.username}" th:href="@{/littlecherries/parents/showprofile}" class="glyphicon glyphicon-user"></a></li>
      <li><a th:href="@{/littlecherries/parents/logout}"><span class="glyphicon glyphicon-user"></span> Αποσύνδεση</a></li>
    </ul>		
  </div>
</nav>
   
<div class="container info"  align="center">
<h2 align="center"> Events-to-go </h2> 

<div class="row info">
<div  class="col-sm-1 info">
			</div> 
			<th:block  th:each= "event : ${list}">
				<div class="col-sm-2 info" style="color:grey;font-size:46px;">
				
				<img th:src="@{'/' + event_images + '/' + ${event.eventid} + .png}" width="140" height="140" />
				<a th:text="${event.event_name}" th:href="@{/littlecherries/events/{eventid}(eventid=${event.eventid})}"></a>				
				</div>
			</th:block>
</div>